@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
    position: relative;
}

.navbar {
    position: fixed;
    width: 85%;
    z-index: 999;
    margin-left: 8%;
}

.navbar-brand {
    flex: 1;
}

.navbar-collapse {
    justify-content: flex-end;

}

.navbar-nav {
    width: 100%;
    justify-content: end;
}

.navbar-nav .nav-item .nav-link {

    color: #fff;
}

.carousel-item img {

    /* height: 550px; */
    position: relative;
}

.carousel-upto-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 20px;
}

main {
    margin-top: -100px;
    position: relative;
    width: 100%;
}


.main-frist-img {
    height: 88px;
}

.container-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.container-main-frist {
    margin: 0px 10% 20px 10%;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    padding: 50px 0px 50px 0px;
}

hr {
    color: #007eff;
    width: 12%;
    border: 2px solid;
    margin-left: 43%;


}

.container-main-frist p {
    font-size: 14px;

}

/* main-2*/

.main-2 {
    margin: 0;
    display: inline;
}

.container h1,
#top-paira {
    text-align: center;
}

#top-paira {
    font-size: 15px;
    margin-bottom: 50px;
}

.container hr {
    color: #007eff;
    width: 7%;
    border: 2px solid;
    margin-left: 47%;

}

.text-center {
    padding-left: 30px;
    padding-right: 30px;
}

.center-container {
    padding-left: 50px;

}

.col-text-boxs {
    text-align: initial;
    padding-left: 20px;
}

.svg-div {
    width: 35px;
}

.icon-left {
    display: flex;
}

/* main-3 */

.main-3 {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.main-3-img img {
    width: 100%;
}

.main-3-bg-col {
    background-color: #d3d3d382;
}

#main-3-top-p {
    font-size: 15px;
}

.main-3 h6 {
    font-size: 20px;
    font-weight: 700;
    margin: 12px;
}

#h6-dwn-pira {
    font-size: 15px;
    line-height: 25px;
}

/* main-4*/

.main-4 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-4 h1 {
    text-align: center;
}

.main-4 hr {
    color: #007eff;
    width: 9%;
    border: 2px solid;
    margin-left: 46%;
}

.main-4 #top-p {
    font-size: 14.5px;
    text-align: center;
}

.colom-all {
    padding: 5px;
}

.colom-all img {
    width: 100%;
}

.main-4-container {
    padding: 20px;
}

#img-div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-4-button {
    text-align: center;
    margin: 25px 0px 25px 0px;
}

.main-4-button button {
    border-radius: 0px;
    color: black;
    border: 1px solid black;
}

/* main 5*/

.main-5 {
    text-align: center;
    margin-bottom: 50px;
}

.main-5 h1,
.card-paira {
    font-weight: 300;
    margin-bottom: 40px;
}

.main-5 #backgroung-img {
    height: 330px;
}

.main-5 h5 {
    margin-bottom: 0;
    margin-top: 15px;
}

/* main 6 */

.main-6 {
    text-align: center;
    margin-bottom: 50px;
}

.main-6 hr {
    color: #007eff;
    width: 9.5%;
    border: 2px solid;
    margin-left: 45.5%;

}

.main-6-frist-div {
    width: 90%;
    margin-left: 5%;
    background-color: #f0eaea70;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-6-frist-div img {
    width: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    color: white;
    background-color: #3e3d3e;

}

.footer-con-one {
    padding: 35px 15px 35px 35px;
}

.footer-con-one h4 {
    padding-bottom: 20px;
}

.footer-con-one p {
    font-size: 15px;
}

.contact-block p {
    padding-left: 20px;
}

.about-distp-flex-box {
    display: flex;
}

.border-buttom {
    border-bottom: 2px solid lightgray;
}

#contact-bord-box {
    padding-top: 10px;
}

.nwes-letter-search-button input{
    height: 40px;
    border: none;
    outline: none;
    padding-right: 15px;
    background-color: #6b6969;
    position: relative;
}
.nwes-letter-search-button button{
    height: 40.9px;
    border: none;
    background-color: #312f31;
    position: absolute;
}
.nwes-letter-search-button button img{
    margin-bottom: 5px;
}
.social-network-icons{
    display: flex;
}
.network-icon{
    width: 20%;
}
.footer-col-all-div{
    margin-bottom: 20px;
}

.footer-buttom-note-line{
    height: 50px;
    display: flex;
    padding-left: 10%;
    padding-top: 14px;
    background-color: #313030;
}
.footer-buttom-note-line span{
    color: yellow;
}

/* sm */
@media (min-width:576px) {
    main{
        margin-top: -30px;
    }
}

/* md */
@media (min-width: 768px) {
    main{
        margin-top:-0px;
    }
}

/* lg */
@media (min-width: 992px) {
    
}

/* xl */
@media (min-width: 1200px) {
    
}

/* xxl */
@media (min-width: 1400px) {
    
}