.navbar-colo {
    border-bottom: 2px;
    box-shadow: 0 0 6px #ccc;
    background-color: white;
    padding: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 100px;
    top: 0;
}

.logo-img {
    margin-left: 10px;
    margin-right: 12%;
}

.logo-img img {
    width: 100px;
}

.nav-itm-ul {
    font-size: 20px;
}

.nav-itm-li {
    /* padding: 32px 15px 32px 15px; */
    padding: 20px;
    font-size: 17px;
}

#search-button a {
    padding: 0px;
}

#search-button button {
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 6px #ccc;
}

#order-button a {
    padding: 0px;
}

#order-button {
    padding-top: 13px;
}

#order-button button {
    color: black;
    background-color: #ffa627;
    padding: 15px 5px 15px 5px;
    width: 120%;
    font-size: 17px;
    border-radius: 0px;
}

main {
    margin-top: 160px;
}

.section-one-div {
    margin-left: 10px;
    margin-right: 10px;
}

.section-one-card {
    border: none;
}

.section-one-card h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffa627;
}

.section-one-card h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    margin: 0px;
    margin-top: 15px;
}

.section-one-card p {
    font-size: 19px;
    color: #585454;
    line-height: 25px;
    margin-top: 15px;
}

.section-one-card button {
    color: rgb(255, 255, 255);
    background-color: #ffa627;
    height: 60px;
    width: 30%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0px
}

.section-one-card a {
    text-decoration: none;
    margin-left: 40px;
}

.img-src img {
    width: 100%;
    /* height: 500px; */
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
}

.sec-2-main {
    margin-top: 30px;
    /* margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 0 4px #ccc; */

}

.sec-2-main i {
    font-size: 35px;
}

.sec-2-fis-dv {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 4px #ccc;
}

.sec-2-row {
    margin-left: 10px;
    margin-right: 10px;
}

.sec-2-col {
    margin-left: 5px;
}

.sec-3 {
    margin-top: 80px;
}

.sec-3 h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sec-3-row {
    margin: 0px;
}

.sec-3-col-unr-dv {
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 15px;
}

.sec-3-col-unr-dv img {
    width: 100%;
}

.sec-3-col-unr-dv h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    padding-left: 15px;
}

.sec-3-col-unr-dv p {
    font-size: 20px;
    color: gray;
    margin: 0px;
    padding-left: 15px;
}

.sec-3-col-unr-dv button {
    border: 2px solid #ffa627;
    padding: 12px 0;
    width: 100%;
}

.sec-4-main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.sec-4-col img {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.sec-4-row {
    margin: 0px;
}

.sec-4-col-rig {
    padding-left: 35px;
    margin-top: 50px;
    line-height: 26px;
}

.sec-4-col-rig h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffa627;
}

.sec-4-col-rig h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    margin-bottom: 15px;
}

.sec-4-col-rig button {
    color: rgb(255, 255, 255);
    background-color: #ffa627;
    height: 60px;
    width: 30%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0px;
}

.sec-4-col-rig #learnmore {
    text-decoration: none;
    margin-left: 40px;
}

.sec-5-main {
    text-align: center;
    margin-bottom: 80px;
}

.sec-5-main h1 {
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    margin: 0px;
}

.sec-5-main p {
    font-size: 20px;
    margin: 0px;
}

.sec-5-main #stock {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.SUBSCRIBE-input {
    width: 80%;
    margin: 0% 10% 0% 10%;
    padding: 0px 20px 0px 20px;
}

.SUBSCRIBE-input input {
    padding-top: 25px;
    padding-bottom: 25px;
    outline: none;
    padding-left: 20px;
    font-size: 17px;
    border: hidden;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
}

.signup-button {
    width: 80%;
    margin: 0% 10% 0% 10%;
    padding: 0px 20px 0px 20px;
}

.signup-button .btn-primary:hover {
    background-color: #eca34dc4;
}

.signup-button button {
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    outline: none;
    width: 100%;
    padding-left: 20px;
    border: hidden;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffa627;
    color: white;
    font-size: 24px;
}

/* footer */

footer {
    background-color: black;
    color: white;
    padding: 30px 10px 30px 10px;
}

.foot-fri-dv {
    margin-bottom: 50px;
}

.foot-row {
    margin: 0px;
}

.foot-col {
    padding: 0px 20px 20px 20px;
}

#foot-col-1 {
    text-align: center;
}

.foot-col img {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}

.foot-col #facebook,
#instagram,
#twitter,
#whatsapp {
    color: white;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 50%;
    padding: 5px 10px 6px 9px;
    margin: 6px;
}

.icon-img-div {
    padding: 5px;
}

.foot-col h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.search-button-foot {
    position: relative;
    width: 100%;
}

#subcribe-p-1 {
    font-size: 13.5px;
}

#subcribe-p-2 {
    font-size: 14px;
    line-height: 2;
}

.search-button-foot input {
    position: absolute;
    width: 100%;
    padding-left: 15px;
    height: 55px;
    border-radius: 10px;
    border: 0px solid white;
    outline: none;
}

.search-button-foot button {
    right: 15px;
    margin-top: 8px;
    position: absolute;
    padding: 8px 22px 8px 22px;
    background-color: #ffa627;
    border: hidden;
    border-radius: 7px;
}

.note-div {
    border-top: 2px solid;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

#paira-lst {
    margin-top: 10px;
}

@media (max-width:992px) {
    body {
        background-color: #ffeb3b42;
    }

    .navbar {
        background-color: #f0e68ccf;
    }

    /* nav bar colaps */
    .container-fluid {
        background-color: #f0e68ccf;
        line-height: 0;
    }

    .nav-itm-li {
        padding: 20px 35px 10px 25px;
        font-size: 20px;
    }

    #order-button {
        width: 28%;
    }

    #order-button button {
        font-size: 19px;
    }

    .discover-your-styl {
        background-color: #f0e68cbd;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .nav-three-dot {
        background-color: darkgrey;
        background-image: linear-gradient(45deg, #FF9800, #bee12e);
    }

    .section-one-div {
        margin: 0px;
    }

    .section-one-card h2 {
        font-size: 20px;
    }

    .section-one-card h1 {
        font-size: 45px;
        line-height: 42px;
        margin-top: 5px
    }

    .section-one-card p {
        font-size: 13px;
        line-height: 16px;
        margin-top: 10px
    }

    .section-one-card button {
        height: 30px;
        width: 40%;
        font-size: 10px;
    }

    .section-one-card {
        margin-left: 20px;
        font-size: 11px;
    }

    .sec-2-fis-dv {
        background-color: #f0e68cbd;
    }

    .sec-3 {
        background-color: #f0e68cbd;
        padding-bottom: 45px;
    }

    .sec-3 h1 {
        font-size: 45px;
    }

    .sec-3-col-unr-dv {
        background-color: lemonchiffon;
    }

    .sec-4-col img {
        padding: 0px;
    }

    .sec-4-fis-div {
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #eca34dc4;
    }

    .sec-4-col-rig {
        margin-top: 40px;
    }

    .sec-4-col-rig h2 {
        font-size: 20px;
    }

    .sec-4-col-rig h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .sec-4-col-rig p {
        font-size: 10px;
        line-height: 16px;
    }

    .sec-4-col-rig button {
        border: none;
        height: 35px;
        width: 35%;
        font-size: 12px;
    }

    .sec-4-col-rig #learnmore {
        margin-left: 20px;
    }

    .sec-5-main h1 {
        font-size: 35px;
        padding: 0px;
    }

    .sec-5-main p {
        font-size: 17px;
    }

    .sec-5-main #stock {
        font-size: 17px;
    }

    .icon-img-div {
        display: flex;
    }

}

@media (max-width:768px) {
    .navbar-colo {
        background-color: #8ce5f0cc;
        height: 90px;
    }

    .logo-img img {
        width: 100px;
    }

    .nav-three-dot {
        background-image: linear-gradient(179deg, #32d3be, #bee12e);
    }

    /* nav bar colaps */
    .container-fluid {
        background-color: #8bf0f0;
        line-height: 0;
    }

    .nav-itm-li {
        padding: 10px 0px 10px 18px;
        font-size: 15px;
    }

    #order-button {
        width: 28%;
    }

    #order-button button {
        font-size: 14px;
        border-radius: 10px;
    }

    main {
        margin-top: 130px;
    }

    .discover-your-styl {
        background-color: #3adec68c;
    }

    .descover-style-col {
        padding: 0px;
    }

    .section-one-card h2 {
        font-size: 15px;
    }

    .section-one-card h1 {
        font-size: 35px;
    }

    .section-one-card p {
        font-size: 12px;
    }

    .section-one-card button {
        font-size: 8px;
        padding-left: 10px;
        width: 30%;
        padding-right: 10px;
    }

    .section-one-card a {
        margin-left: 10px;
        font-size: 9px;
    }

    .sec-2-fis-dv {
        background-color: #3adec68c;
    }

    .sec-2-row {
        font-size: 12px;
    }

    .sec-2-col a {
        color: black;
    }

    .sec-2-main i {
        font-size: 20px;
    }

    .sec-3 {
        margin-top: 30px;
        background-color: #3adec68c;
        padding-top: 30px;
    }

    .sec-3 h1 {
        font-size: 30px;
    }

    .sec-3-fis-dv {
        padding: 0px 20px 0px 20px;
    }

    .sec-3-col-unr-dv {
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .sec-3-col-unr-dv h4 {
        font-size: 16px;
    }

    .sec-3-col-unr-dv p {
        font-size: 15px;
    }

    .sec-4-main {
        margin-top: 40px;
    }

    .sec-4-fis-div {
        background-color: #baf227b5;
    }

    .sec-4-col-rig {
        padding-left: 22px;
    }

    .sec-4-col-rig h2 {
        font-size: 15px;
    }

    .sec-4-col-rig h1 {
        font-size: 35px;
    }

    .sec-4-col-rig p {
        font-size: 11.2px;
    }

    .sec-4-col-rig button {
        width: 30%;
        font-size: 9px;
    }

    .sec-4-col-rig #learnmore {
        margin-left: 10px;
        font-size: 11px;
    }

    .sec-5-main h1 {
        font-size: 25px;
    }

    .sec-5-main p {
        font-size: 12px;
    }

    .sec-5-main #stock {
        font-size: 12px;
    }

    .sec-5-col input {
        height: 50px;
        font-size: 12px;
    }

    .sec-5-button {
        font-size: 12px;
    }

    .sec-5-button input {
        margin-right: 10px;
    }

    .sec-5-button button {
        height: 50px;
        font-size: 17px;
        border: 0px;
    }

    .icon-img-div {
        display: flex;
        justify-content: center;
    }

}